
<div class="container">
<h1>About Us</h1>
<p>Planning an event is a pre-requisite for every event. No matter what kind of event you <br>
    are about to have,the main requirements always remain the same. <br>
    While you plan your event it is very important have to best event management company. <br>
    To make sure your event unfolds in a way you want, you need to make the best choice. <br>
    We at <b> Be Eventful </b> make sure that we deliver exactly what our client wants.</p> <br>
</div>