<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <h1 style="color : white">Vendors Register</h1>
        
    </div>
</nav> 
<div class="container">
    <table class = " table table-striped">
        <thead>
           <tr>
            <th scope="col">#</th>
            <th scope="col">Vendors Details</th>
            <th scope="col">Action</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td scope="col"> Caterers</td>
                <td >
                    <button (click) ="gotoCaterersList()" class="btn btn-light" style="margin-left: 10px" >View Caterers</button>
                 
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td scope="col"> Decorators</td>
               <td >
                    <button (click) ="gotoDecoratorsList()" class="btn btn-light" style="margin-left: 10px" >View Decorators</button>
                   
                </td>
                    
            </tr>
            <tr>
                <td>3</td>
                <td scope="col"> Locations</td>
                <td >
                    <button (click) ="gotoLocationsList()" class="btn btn-light" style="margin-left: 10px" >View Locations</button>
                   
                </td>
            </tr>
                
      
        </tbody>
    
    </table>
    
    </div>
    
    
    
    
    
    
