<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <h1 style="color : white">Vendors Register</h1>
        
    </div>
</nav> 

<br><br>
<div class="container">
<table class = " table table-striped">
    <thead>
       <tr>
        <th scope="col">#</th>
        <th scope="col">Vendors Details</th>
        <th scope="col">Action</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td scope="col"> Caterers</td>
            <td >
                <button (click) ="gotoCaterersList()" class="btn btn-light" style="margin-left: 10px" >View Caterers</button>
                <button (click) ="addCaterer()" class="btn btn-light" style="margin-left: 10px" >Add Caterers</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td scope="col"> Decorators</td>
           <td >
                <button (click) ="gotoDecoratorsList()" class="btn btn-light" style="margin-left: 10px" >View Decorators</button>
                <button (click) ="addDecorator()" class="btn btn-light" style="margin-left: 10px" >Add Decorators</button>
            </td>
                
        </tr>
        <tr>
            <td>3</td>
            <td scope="col"> Locations</td>
            <td >
                <button (click) ="gotoLocationsList()" class="btn btn-light" style="margin-left: 10px" >View Locations</button>
                <button (click) ="addLocation()" class="btn btn-light" style="margin-left: 10px" >Add Location</button>
            </td>
        </tr>
            <tr>
                <td>4</td>
            <td scope="col"> Event</td>
            <td >
                <button (click) ="gotoEventsList()" class="btn btn-light" style="margin-left: 10px" >View Events</button>
                <button (click) ="addEvent()" class="btn btn-light" style="margin-left: 10px" >Add Event</button>
            </td>
        </tr>

        <tr>
            <td>5</td>
        <td scope="col"> User</td>
        <td >
            <button (click) ="gotoUsersList()" class="btn btn-light" style="margin-left: 10px" >View Users</button>
            <button (click) ="addUser()" class="btn btn-light" style="margin-left: 10px" >Add User</button>
        </td>
    </tr>
    </tbody>

</table>

</div>





