<div class = "outer">
    <div class = "container">
        <div class = "row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold"> Add Event </h3>
                </div>
               
                 <div class="panel-body p-3">
                      <form (ngSubmit)="onSubmit()">

                        <div class="form-group pt-3">
                            <div class="input-field">
                              <input type="text" placeholder="Event Type"  [(ngModel)] = "events.eventType" name="eventType" required>
                              </div>
                         </div>

                        <div class="form-group pt-3">
                            <div class="input-field">
                              <input type="date" placeholder="Event Start Date" [(ngModel)] = "events.eventStartDate" name="eventStartDate" required>
                              </div>
                         </div>

                       <div class="form-group pt-3">
                           <div class="input-field">
                             <input type="date" placeholder="Event End Date"   [(ngModel)] = "events.eventEndDate" name="eventEndDate" required>
                             </div>
                        </div>

                        <!-- <div class="form-group pt-3">
                            <div class="input-field">
                              <input type="text" placeholder="Price Per NonVeg Plate"  [(ngModel)] = "caterers.pricePerNonVegPlate" name="pricePerNonVegPlate" required>
                             
                              </div>
                         </div> -->
                         <button type="submit" class="btn btn-light btn-block mt-4 w-100">Add Event</button>
                     </form>
                 </div>
               </div>
          </div>
        </div>
    </div>
</div>

